@import "tailwindcss";

@theme {
  --color-primary: #3525cd;
  --color-primary-container: #4f46e5;
  --color-on-primary: #ffffff;
  --color-background: #f8fafc; /* using a slightly cooler off-white as per design Md */
  --color-on-background: #0f172a;
  --color-primary-fixed-dim: #c3c0ff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
  }
}
